{%extends 'layout.html'%}
{%block content%}
<div class="container">
<h1 class="text-md-center text-lg-center text-dark fw-bold text-sm-start shadow m-5 p-5">About Us</h1>
       <div class="row">
        <div class="col">
            <img src="static/images/1.jpeg" alt="" class="m-3" height="400">
        </div>
        <div class="col m-3">
            <p class="lead">Agri-Dairy provides high class Website designing,development and SEO services.
                We offer all our services at the best price available in the market.
                We have a team of multi-disciplinary and experienced designers and developers, who work hard to deliver a well-designed site to the client. 
                We always use ultra-modern and advanced software while designing your site, 
                so your customers will never face any trouble while using and insecurity during transactions.
                Our services are best in the field and wallet-friendly as well. 
                We also commit to fulfilling all your demands related to our site within stipulated time period. 
                You just have to trust us, and we assure to never break it.
                </p>
        </div>
{%endblock%}