<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--bootstrap icons stylesheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style_login.css')}}">
    <title>SRIKARAM</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: green">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><h4 style="color:white;">Farmer Friendly</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button class="btn btn-outline-primary text-white mx-3"><a class="nav-link active text-white mx-2" style="margin: left 1px;" aria-current="page" href="/">Home</a></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary text-white"> <a class="nav-link text-white mx-2"  href="/about">About</a></button>
              </li>
            </ul>
            <form class="d-flex">
              {% if session.email %}
              <span class="my-2 mx-3"><i class="bi bi-files"><a href="/prodetails" style="text-decoration: none;color: white;">Products</a> </i></span>
              <span class="my-2 mx-3"><i class="bi bi-files"><a href="/mycart" style="text-decoration: none;color: white;">My Cart</a> </i></span>
              <span class="my-2 mx-3"><i class="bi bi-eye-slash"><a href="/password" style="text-decoration: none;color: white;">Change Password</a> </i></span>
              <button class="btn btn-outline-primary text-white" type="submit" style="margin-right:20px;"><a href="/logout" style="text-decoration: none;color: white;">Log out</a> </button>
              {%else%}
              <button class="btn btn-outline-primary text-white" type="submit" style="margin-right:20px;"><a href="/signup" style="text-decoration: none;color: white;">Sign up</a> </button>
              <button class="btn btn-outline-primary text-white" type="submit"><a href="/login" style="text-decoration: none;color: white;">Login</a></button>
              {%endif%}
            </form>
          </div>
        </div>
      </nav>
      {%block content%}{%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>