{%extends 'forms_layout.html'%}
{%block form%}
<div class="bg-img">
    <div class="content" style="width:800px;">
       <header>Change Password</header>
       <form action="/repeatnew" method="POST">
          <div class="field">
             <span class="fas fa-gavel"></span>
             <input type="password" name="old1" class="pass-key" required placeholder="Enter old password">
          </div>
          <div class="field space">
             <span class="fa fa-user"></span>
             <input type="password" name="new" class="pass-key" required placeholder="Enter new password">
          </div>
          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="password" name="repeat" class="pass-key" required placeholder="Repeat new Password">
         </div>
          <div class="field">
             <input type="submit" value="Submit">
          </div>
       </form>
    </div>
 </div>
{%endblock%}