{% extends 'layout.html' %}
{% block content%}

<h1 class="text-md-center text-lg-center text-dark fw-bold text-sm-start shadow ">Payment Gateway</h1>

<h3 class="text-center m-4 p-3">To proceed with the payment, click on the button below.</h3>
<div class="text-center " >
    <img src="https://tse4.mm.bing.net/th?id=OIP.t7pBvV6kWrx9ZsXYgAt9VAHaFj&pid=Api&P=0" alt="" >
<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LSqc4nivVaxLEi" async> </script> </form>
</div>
{%endblock%}